html,
body {
    height: 100%;
}

body {
    /* display: flex; */
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    margin-bottom: 60px;
}


/* Article */


.article-header {
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.article-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 400;
}

.article-description {
    font-size: 20px;
    color: #999
}

.article-meta {
    margin-bottom: 0;
    color: #999;
    font-size: 60% !important;
}

.article-text {
    /* font-size: 18px; */
    padding-top: 1rem;
    line-height: 1.5em;
    font-size: 1.0em;
}

.article.tag {
    margin-bottom: 0;
    color: #999;
    font-size: xx-small;
}

.article-post {
    margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.nounderline {
    text-decoration: none !important
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    margin-bottom: 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
    font-size: 80% !important;
}

form > input[type=text],
textarea {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}

/* form > input[type="submit"] {
    background: #39506e none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%; 
}*/

form > input:hover,
form > textarea:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}

/* form > input[type="submit"]:hover {
    background: rgba(0, 0, 0, 50) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
} */


.accordion-body {
    padding-top: 2rem !important;

}
.accordion-footer {
    padding: 1rem 1.25rem;
    color: #999;
    font-size: 60% !important;
}

.accordion-head {
    padding: 0.5rem 0.25rem;

    /* border: solid #dee2e6;
    border-radius: .25rem;
    border-width: 1px; */
}

.accordion-header {
    border: solid #dee2e6;
    border-radius: .25rem;
    border-width: 0.5px;
}

.accordion-head-info {
    float: left;
    padding: 0.5rem 1rem;
    color: #999;
    font-size: 80% !important;
}

.accordion-head-buttons {
    float: right;
    padding: 0.5rem 1rem;
}

.accordion-border {
    border: solid #63a1df !important;
    border-radius: .25rem;
    border-width: 1px !important;
}

.like-button, .save-button {
    /* color: currentColor !important; */
    text-decoration: none !important;
    /* text-decoration-color: transparent; */
}

.unlike {
    color: red !important;
}
.unsave {
    color: blue !important;
}
.save {
    color: black !important;
}

.saved {
    color: blue;
}


@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	




i.fas.circle {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    background-color:#5793ef;
  }

  i.fas.circle:hover {
    box-shadow: 0px 0px 2px #5793ef;
    background-color:#287eff
  }