{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top border-bottom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 fixed-top border-bottom" id='nav_bar'>
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <a class="navbar-brand" href="{{url_for('main.index')}}">{{config['SITE_TITLE']}}</a>
            <ul class="navbar-nav me-auto mb-md-0  navbar-nav-scroll">
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-secondary me-2" type="button" href="{{ url_for('question.index')}}"
                        class='nav-link'>Dúvidas</a>
                </li>
                
                <div class="dropdown nav-item">
                    <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                        
                        <li class="dropdown-submenu dropdown-item">
                            <a class="dropdown-item" href="#">Arquivos</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{{url_for('file_pdf.atas')}}">Atas</a></li>
                            <li><a class="dropdown-item" href="{{url_for('file_pdf.manuais')}}">Manuais</a></li>
                            <!-- <li><a class="dropdown-item" href="#">Second level</a></li> -->
                            </ul>
                        </li>
                        {% if current_user.is_authenticated %}
                        {% if current_user.is_support %}
                        <li>
                            <hr class="dropdown-divider" />
                          </li>
                        <li>
                            <a class="dropdown-item" type="button"
                                href="{{ url_for('support.index')}}">Suporte</a>
                        </li>
                        {% endif %}

                        <li>
                            <a class="dropdown-item" type="button"
                                href="{{ url_for('dashboard')}}" class='nav-link'>Dashboard</a>
                        </li>
                        
                       
                          {% if config.get('MODE', False) == 'dev' %}
                          <li>
                            <hr class="dropdown-divider" />
                          </li>
                          <li class="dropdown-submenu dropdown-item">
                            <a class="dropdown-item" href="#">Desenvolvimento</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class='dropdown-item' type='button' href="{{ url_for('notifier.index')}}"
                                    class='nav-link'>Notificações</a>
                            </li>
                            <li><a class="dropdown-item" type='button' href="{{ url_for('transactions.index')}}"
                                    class='nav-link'>Transações</a>
                            </li>
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </div>  

            </ul>

<!-- 
            <div class="dropdown nav-item">
                <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Arquivos
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{url_for('file_pdf.index')}}">Atas</a></li>
                </ul>
            </div> -->
            {% if config.get('MODE', False) == 'dev' %}
            <!-- #TODO apenas em DEV -->
            {#<div class="dropdown">
                <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Em desenvolvimento
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li><a class='dropdown-item' type='button' href="{{ url_for('notifier.index')}}"
                            class='nav-link'>Notificações</a>
                    </li>
                    <li><a class="dropdown-item" type='button' href="{{ url_for('transactions.index')}}"
                            class='nav-link'>Transações</a>
                    </li>
                </ul>
            </div>#}
            {% endif %}
            <div class="navbar-nav col-6 w-50 justify-content-center">

                <form class="row row-cols-lg-auto g-3" method="GET" action="{{ url_for('question.search') }}">
                    <div class="col">
                        {{ render_field(g.question_search_form.filter, class='selectpicker', nolabel=true,
                        multiple=true, **{'data-actions-box':"true", 'data-style':"btn-primary",
                        'data-selected-text-format':"count"})}}
                    </div>
                    <div class="col">
                        <!-- <i class="fa fa-search"></i> -->
                        <div class="input-group mb-3">
                            {{ render_field(g.question_search_form.q, size=15, class='form-control',
                            placeholder='Buscar...', nolabel=true, type='search', **{'aria-label':"Buscar",
                            'aria-describedby':"submit"})}}
                            <div class="input-group-append">
                                {{ render_field(g.question_search_form.submit, class='btn btn-primary',
                                nolabel=true, id='submit')}}
                            </div>
                        </div>
                        <!-- <input type="search" placeholder="Buscar..." class="form-control me-2" id="search" name="search"> -->
                        <!-- <button class="btn btn-primary">Search</button> -->
                    </div>
                </form>
                <!-- </div> -->
            </div>


            <ul class="navbar-nav w-100 justify-content-center">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
                </li>
                {% else %}
                {% if current_user.has_support %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-tools circle"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="{{url_for('admin.questions')}}">Perguntas</a></li>
                        <li><a class="dropdown-item" href="{{url_for('admin.to_approve')}}">Pendentes</a></li>
                        <li><a class="dropdown-item" href="{{url_for('admin.answers')}}">Respondidas</a></li>
                        {% if current_user.has_role('admin') %}
                        <li><a class="dropdown-item" href="{{url_for('admin.users')}}">Usuários</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{url_for('admin.tag')}}">Marcação</a></li>
                        <li><a class="dropdown-item" href="{{url_for('admin.topic')}}">Tópico</a></li>
                        <li><a class="dropdown-item" href="{{url_for('admin.sub_topic')}}">Sub Tópico</a></li>
                        <li><a class="dropdown-item" href="{{url_for('admin.file_pdf_type')}}"> Tipo de Arquivo</a> </li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" href='{{url_for("admin.file")}}'>Upload</a></li>
                        {% endif %}
                        {% if config.get('MODE', False) == 'dev' %}
                        <!-- #TODO apenas em DEV -->
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" href='{{url_for("admin.notifier")}}'>Notificações</a></li>
                        
                        {% endif %}

                    </ul>

                </li>

                {% endif %}




                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <!-- <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32"> -->
                        <i class="fas fa-user circle"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="{{ url_for('user.profile') }}">{{
                                _('Perfil') }}</a></li>
                        <li>
                            <a class="dropdown-item" href="{{url_for('question.saves')}}">{{_('Salvos') }}
                                <span class="badge bg-info text-dark">{{current_user.questions_saved_count}}</span>
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="{{url_for('question.likes')}}">{{_('Curtidas') }}
                                <span class="badge bg-info  text-dark">{{current_user.questions_liked_count}}</span>

                            </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">{{ _('Sair') }}</a></li>
                    </ul>

                </li>

                {% endif %}


            </ul>

        </div>
    </div>
</nav>




{% endblock %}