<!-- <div aria-live="polite" aria-atomic="true">
    <div style="position: absolute; top: 3rem; right: 0;">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000">
            <div class="toast-header">
                <strong class="mr-auto">Toast Title</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                Some Toast Body
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="position-fixed bottom-5 end-5 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div> -->


<!-- <div class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div> -->

<!-- 
<div class="toast-container position-absolute p-3 top-2 end-0" id="toastPlacement">
    <div class="toast">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div> -->


<!-- Toasts -->
<!-- <div aria-live="polite" aria-atomic="true">
    <div style="position: fixed; top: 7rem; right: 5rem;">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000">
            <div class="toast-header">
                <strong class="mr-auto">Toast Title</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                Some Toast Body
            </div>
        </div>
    </div>
</div> -->

<!-- teste

<div class="icon" id="bell"> <img src="https://i.imgur.com/AC7dgLA.png" alt=""> </div>
<div class="notifications" id="box">
    <h2>Notifications - <span>2</span></h2>
    <div class="notifications-item"> <img src="https://i.imgur.com/uIgDDDd.jpg" alt="img">
        <div class="text">
            <h4>Samso aliao</h4>
            <p>Samso Nagaro Like your home work</p>
        </div>
    </div>
    <div class="notifications-item"> <img src="https://img.icons8.com/flat_round/64/000000/vote-badge.png" alt="img">
        <div class="text">
            <h4>John Silvester</h4>
            <p>+20 vista badge earned</p>
        </div>
    </div>
</div> -->

<div class='overlay' aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
<!-- Flexbox container for aligning the toasts -->

<!-- <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false" style="position: fixed; top: 5rem; right: 0;z-index:99">
    <div class="toast-header">
        <svg class="rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <rect fill="#ff0000" width="100%" height="100%" /></svg>
      <strong class="me-auto" id="toast-title"></strong>
      <small id="toast-time"></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toast-content">
    </div>
  </div> -->


<div class="toast-container position-fixed pb-5 ps-4 pe-3 bottom-0 end-0" id="toastPlacement" data-original-class="toast-container position-fixed p-3" style="z-index:99">
  <div class="toast text-white bg-danger" data-bs-autohide="false" >
    <div class="toast-header">
      <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#f17a0a"></rect>
      </svg>

      <strong class="me-auto"  id="toast-title"></strong>
      <small id="toast-time"></small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toast-content">
    </div>
  </div>
</div>

</div>
  
  
  <!-- <div class="toast" data-autohide="false" data-bs-autohide="false" style="position: fixed; top: 5rem; right: 0;">
    <div class="toast-header">
      <svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect fill="#007aff" width="100%" height="100%" /></svg>
      <strong class="mr-auto float-end" id="toast-title">Bootstrap</strong>
      <small class="text-muted" id="toast-time">11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" id="toast-close">
                    <span aria-hidden="true">&times;</span>
                  </button>
    </div>
    <div class="toast-body" id="toast-content">
      Hello, world! This is a toast message.
    </div>
  </div> -->