{% if pagination %}
<div class="accordion accordion-flush" id="accordionFlushQuestion">
    {% for question in pagination.items %}
    {% if mode == 'search' %}

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading{{question[0].id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse{{question[0].id}}" aria-expanded="false"
                aria-controls="flush-collapse{{question[0].id}}">
                {{question[0].question}}
            </button>
        </h2>
        <div id="flush-collapse{{question[0].id}}" class="accordion-collapse collapse"
            aria-labelledby="flush-heading{{question[0].id}}" data-bs-parent="#accordionFlushQuestion">
            <div class="accordion-header">teste</div>
            <div class="accordion-body">{{question[0].answer}}</div>
        </div>
    </div>

    {% else %}

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading{{question.id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse{{question.id}}" aria-expanded="false"
                aria-controls="flush-collapse{{question.id}}">
                {{question.question}}
            </button>
        </h2>
        <div id="flush-collapse{{question.id}}" class="accordion-collapse collapse accordion-border"
            aria-labelledby="flush-heading{{question.id}}" data-bs-parent="#accordionFlushQuestion">
            <div class="accordion-head">
                {% if question.is_liked(current_user.id) %}
                <a class="like-button unlike" id="unlike_{{question.id}}" href="{{url_for('question.like_action', question_id=question.id)}}"><i class="icon-heart"></i></a>
                {% else %}
                <a class="like-button like" id="like_{{question.id}}" href="{{url_for('question.like_action', question_id=question.id)}}"><i class="icon-heart-empty"></i></a>
                {% endif %}
                {% if question.is_saved(current_user.id) %}
                <a class="save-button unsave" id='unsave_{{question.id}}' href="{{url_for('question.save_action', question_id=question.id)}}"><i class="icon-save"></i></a>
                {% else %}
                <a class="save-button save" id='save_{{question.id}}' href="{{url_for('question.save_action', question_id=question.id)}}"><i class="icon-save"></i></a>
                {% endif %}
                
            </div>
            <div class="accordion-body">{{question.answer}}</div>
            <div class="accordion-footer">
                {% if question.was_updated() %}
                atualizado {{question.get_update_time_elapsed}} por {{question.updater.name}}
                {% else %}
                criado {{question.get_create_time_elapsed}} por {{question.author.name}}
                {% endif %}

            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endif %}