{% if pagination %}
<div class="accordion accordion-flush" id="accordionFlushQuestion">
    {% for question in pagination.items %}
    {% if mode == 'search' %}
    {% set question, pos = question %}
    {% endif %}

    {% if question.topics.filter_by(_name = 'Retaguarda').count() >= 1 %}
        {% set bg_color = 'text-info fw-bold' %}
    {% elif question.topics.filter_by(_name = 'SAC (Cidadão e Credenciados)').count() >= 1  %}
        {% set bg_color = 'text-success fw-bold' %}

    {% elif question.topics.filter_by(_name = 'Atendimento - Linha de frente').count() >= 1 %}
        {% set bg_color = 'text-dark fw-bold' %}
    {% endif %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading_{{question.id}}">
            <button id='button-accordion-{{question.id}}' class="accordion-button collapsed {{ 'text-secondary fw-bold' if question.is_support else bg_color }} rounded-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapse_{{question.id}}" aria-expanded="false" aria-labelledby="flush-heading_{{question.id}}"
                aria-controls="flush-collapse_{{question.id}}" href="{{url_for('api.question', id=question.id)}}">
                {{question.question}}
                {% if question.is_support %}
                <span class="badge bg-success ms-2 float-end">Suporte</span>
                {#{% else %}
                {% for tp in question.topics %}
                {% if tp.name == 'Retaguarda' %}
                <span class="badge bg-secondary float-end">{{tp.nickname}}</span>
                {% endif %}
                {% if 'SAC' in tp.name%}
                <span class="badge bg-primary ms-2 float-end">{{tp.nickname}}</span>
                {% endif %}
                {% if 'Linha de Frente' in tp.name %}
                <span class="badge ms-2 float-end" style="background-color: black;color: white;">{{tp.nickname}}</span>
                
                {% endif %}
                {% endfor %}#}
                {% endif %}
                

            </button>
        </h2>
        {#a
            <div id="flush-collapse_{{question.id}}" class="accordion-collapse collapse accordion-border"
            aria-labelledby="flush-heading_{{question.id}}" data-bs-parent="#accordionFlushQuestion">
            <div class="accordion-head">
                <div class="accordion-head-info">
                    {% if question.was_updated() %}
                    Atualizado {{question.get_update_time_elapsed}} por {{question.updater.name}}
                    {% else %}
                    Criado {{question.get_create_time_elapsed}} por {{question.author.name}}
                    {% endif %}
                </div>
                <div class="accordion-head-buttons">
                    {% if current_user.can_edit %}
                    <a class="edit text-decoration-none" id="edit_{{question.id}}"
                        href="{{url_for('question.edit', id=question.id)}}">
                        <i class="fas fa-edit"></i>
                    </a>

                    {% endif %}
                    {% if current_user.is_authenticated %}
                    {% if question.is_liked(current_user.id) %}
                    <a class="like-button unlike" id="unlike_{{question.id}}"
                        href="{{url_for('question.like_action', question_id=question.id)}}">
                        <i class="fas fa-heart"></i></a>
                    {% else %}
                    <a class="like-button like" id="like_{{question.id}}"
                        href="{{url_for('question.like_action', question_id=question.id)}}">
                        <i class="far fa-heart"></i></a>
                    {% endif %}
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    {% if question.is_saved(current_user.id) %}
                    <a class="save-button unsave" id='unsave_{{question.id}}'
                        href="{{url_for('question.save_action', question_id=question.id)}}">
                        <i class="fas fa-save"></i></a>
                    {% else %}
                    <a class="save-button save" id='save_{{question.id}}'
                        href="{{url_for('question.save_action', question_id=question.id)}}">
                        <i class="fas fa-save"></i></a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="accordion-body">{{question.get_body_html()}}</div>
            <div class="accordion-footer">
                {% for tag in question.tags.all() %}
                <a href="{{url_for('question.tag', name=tag.name)}}">
                    <span class="badge bg-secondary">{{tag.name}}</span></a>
                {% endfor %}

            </div>
        </div>
        #}
    </div>
    {% endfor %}
</div>

{% endif %}
