{% extends 'base.html' %}
{% import "macros/form.html" as macros %}

{% block styles %}
{{- super() -}}
    <link href="{{url_for('static', filename='css/simplemde/simplemde.min.css')}}" rel="stylesheet">
{% if article %}

{% endif %}
{% endblock %}

{% block app_content %}
{% if form %}
<div class="col-md-8">
    <form action="" method="POST">
        {% if article is defined %}
        {{ form.csrf_token }}
        {{ macros.render_field(form.title, size=32, class='form-control', placeholder='Titulo') }}
        {{ macros.render_field(form.description, size=128, class='form-control', placeholder='Descrição')}}
        <div class="col-md-6">
            {{ macros.render_field(form.topic, class='form-select', nosize=true)}}
        </div>
        <br>
            {{ macros.render_field(form.text, rows=30, placeholder='Texto')}}

        {{ form.submit }}
        {% elif user %}
        {{ form.csrf_token}}
        {{ macros.render_field(form.username, size=32, class='form-control', placeholder='Username')}}
        {{ macros.render_field(form.name, size=128, class='form-control', placeholder='Nome')}}
        {{ macros.render_field(form.email, size=128, class='form-control', placeholder='Email')}}
        {{ macros.render_field(form.about_me, size=512, class='form-control', placeholder='Sobre mim')}}
        <br>
        <div class="col-md-6">
            {{ macros.render_field(form.role, class='form-select', nosize=true)}}
        </div>
        <br>
        {{ macros.render_field(form.active)}}
        <br>
        {{ form.submit }}



        {% elif question is defined %}
        {{ form.csrf_token }}
        {{ macros.render_field(form.question, size=32, class='form-control', placeholder='Titulo') }}
        {{ macros.render_field(form.answer, size=128, class='form-control', placeholder='Descrição')}}
        {{ macros.render_field(form.tag, class='form-select', nosize=true)}}
        {{ macros.render_field(form.topic, class='form-select', nosize=true)}}
        {{ macros.render_field(form.sub_topic, class='form-select', nosize=true)}}
        <br>
        {% if current_user.is_admin %}
        {{ macros.render_field(form.approved, nosize=true, checked=true)}}
        {% endif %}

        <br>
        
        {{ form.submit }}

        {% elif tag is defined %}
        {{ form.csrf_token }}
        {{ macros.render_field(form.name, size=32, class='form-control', placeholder='Titulo') }}

        {{ form.submit }}

        {% elif user %},
        {{ form.csrf_token}}
        {{ macros.render_field(form.username, size=32, class='form-control', placeholder='Username')}}
        {{ macros.render_field(form.name, size=128, class='form-control', placeholder='Nome')}}
        {{ macros.render_field(form.email, size=128, class='form-control', placeholder='Email')}}
        {{ macros.render_field(form.about_me, size=512, class='form-control', placeholder='Sobre mim')}}
        <br>
        <div class="col-md-6">
            {{ macros.render_field(form.role, class='form-select', nosize=true)}}
        </div>
        <br>
        {{ macros.render_field(form.active)}}
        <br>
        {{ form.submit }}
        {% elif topic is defined %}
        {{ form.csrf_token}}
        {{ macros.render_field(form.name, size=512, class='form-control', placeholder='Topico Nome')}}
        {{ macros.render_field(form.active)}}
        {{ macros.render_field(form.selectable)}}
        <br>
        {{ form.submit }}

        {% elif sub_topic is defined %}
        {{ form.csrf_token}}
        {{ macros.render_field(form.name, size=512, class='form-control', placeholder='Sub-Tópico Nome')}}
        <br>
        {{ form.submit }}

        {% elif notifier is defined %}

        {{ form.csrf_token }}
        {{ macros.render_field(form.title, size=32, class='form-control', placeholder='Titulo') }}
        {{ macros.render_field(form.content, size=32, class='form-control', placeholder='Titulo', maxlength=498) }}
        {{ macros.render_field(form.status, nosize=true, class='form-select') }}
        {{ macros.render_field(form.priority, nosize=true, class='form-select') }}
        {{ macros.render_field(form.topic, nosize=true, class='form-select') }}
        <br>
        {{ form.submit }}

        {% endif %}
        <br />

    </form>
</div>


{% endif %}
{% endblock %}


{% block scripts %}
{{ super() }}

<!-- <script src="{{url_for('static', filename='js/editormd/editormd.min.js')}}"></script> -->
<script src="{{url_for('static', filename='js/simplemde/simplemde.min.js')}}"></script>

<script type="text/javascript">
    element = document.getElementById("text");
    if (element == null){
        element = document.getElementById("answer");
    }
    var simplemde = new SimpleMDE({ 
        element: element,
        renderingConfig: {
            singleLineBreaks: true,
            codeSyntaxHighlighting: true,
        },
        forceSync: true,
        shortcuts: {
            drawTable: "Cmd-Alt-T"
        },
        showIcons: ["code", "table"]
    });
</script>
{% if article == true %}

{% endif %}
{% endblock %}