{% extends 'base.html' %}
{% import "macros/form.html" as macros %}

{% block styles %}
{{- super() -}}
    <link href="{{url_for('static', filename='css/simplemde/simplemde.min.css')}}" rel="stylesheet">
{% if article %}

{% endif %}
{% endblock %}

{% block app_content %}
{% if form %}
<div class="col-md-8">
    <form action="" method="POST">
        {% if article is defined %}
        {{ form.csrf_token }}
        {{ macros.render_field(form.title, size=32, class='form-control', placeholder='Titulo') }}
        {{ macros.render_field(form.description, size=128, class='form-control', placeholder='Descrição')}}
        <div class="col-md-6">
            {{ macros.render_field(form.topic, class='form-select', nosize=true)}}
        </div>
        <br>
            {{ macros.render_field(form.text, rows=30, placeholder='Texto')}}

        {{ form.submit }}
        {% elif user %}
        {{ form.csrf_token}}
        {{ macros.render_field(form.username, size=32, class='form-control', placeholder='Username')}}
        {{ macros.render_field(form.name, size=128, class='form-control', placeholder='Nome')}}
        {{ macros.render_field(form.email, size=128, class='form-control', placeholder='Email')}}
        {{ macros.render_field(form.about_me, size=512, class='form-control', placeholder='Sobre mim')}}
        <br>
        <div class="col-md-6">
            {{ macros.render_field(form.role, class='form-select', nosize=true)}}
        </div>
        <br>
        {{ macros.render_field(form.active)}}
        <br>
        {{ form.submit }}



        {% elif question is defined %}
        {{ form.csrf_token }}
        {{ macros.render_field(form.question, style="height: 120px;", class='form-control', placeholder='Titulo') }}
        {{ macros.render_field(form.answer, size=128, class='form-control', placeholder='Descrição')}}
        {# macros.render_field(form.tag, class='selectpicker', nolabel=true, multiple=true,
        **{'data-actions-box':"true", 'data-style':"btn-primary", 'data-selected-text-format':"count"})#}
        {{ macros.render_field(form.tag, class='form-select', class='selectpicker', nolabel=true, multiple=true,
        **{'data-style':"btn-primary", 'data-selected-text-format':"count", "data-live-search":"true", "data-size":"5", 'data-width':"auto"})}}
        <br>
        <br>
        {{ macros.render_field(form.topic, class='selectpicker', nolabel=true, multiple=true,
        **{'data-actions-box':"true", 'data-style':"btn-primary", 'data-selected-text-format':"count"})}}
        <br>
        <BR>
        {{ macros.render_field(form.sub_topic, class='form-select', class='selectpicker', nolabel=true, multiple=true,
        **{'data-actions-box':"true", 'data-style':"btn-primary", 'data-selected-text-format':"count"})}}
        <br>
        <BR>
        {% if current_user.is_admin %}
        {{ macros.render_field(form.approved, nosize=true, checked=true)}}
        {% endif %}

        <br>
        
        {{ form.submit }}

        {% elif tag is defined %}
        {{ form.csrf_token }}
        {{ macros.render_field(form.name, size=32, class='form-control', placeholder='Titulo') }}

        {{ form.submit }}

        {% elif user %},
        {{ form.csrf_token}}
        {{ macros.render_field(form.username, size=32, class='form-control', placeholder='Username')}}
        {{ macros.render_field(form.name, size=128, class='form-control', placeholder='Nome')}}
        {{ macros.render_field(form.email, size=128, class='form-control', placeholder='Email')}}
        {{ macros.render_field(form.about_me, size=512, class='form-control', placeholder='Sobre mim')}}
        <br>
        <div class="col-md-6">
            {{ macros.render_field(form.role, class='form-select', nosize=true)}}
        </div>
        <br>
        {{ macros.render_field(form.active)}}
        <br>
        {{ form.submit }}
        {% elif topic is defined %}
        {{ form.csrf_token}}
        {{ macros.render_field(form.name, size=512, class='form-control', placeholder='Topico Nome')}}
        {{ macros.render_field(form.active)}}
        {{ macros.render_field(form.selectable)}}
        <br>
        {{ form.submit }}

        {% elif sub_topic is defined %}
        {{ form.csrf_token}}
        {{ macros.render_field(form.name, size=512, class='form-control', placeholder='Sub-Tópico Nome')}}
        <br>
        {{ form.submit }}

        {% elif file_pdf_type is defined %}

        {{ form.csrf_token}}
        {{ macros.render_field(form.name, size=512, class='form-control', placeholder='Tipo do Arquivo')}}
        <br>
        {{ form.submit }}

        {% elif notifier is defined %}

        {{ form.csrf_token }}
        {{ macros.render_field(form.title, size=32, class='form-control', placeholder='Titulo') }}
        {{ macros.render_field(form.content, size=32, class='form-control', placeholder='Titulo', maxlength=498) }}
        {{ macros.render_field(form.status, nosize=true, class='form-select') }}
        {{ macros.render_field(form.level, nosize=true, class='form-select') }}
        {{ macros.render_field(form.priority, nosize=true, class='form-select') }}
        <br>
        
        {{ macros.render_field(form.autoload) }}
        <br>
        <br>

        {{ macros.render_field(form.sub_topics, class='selectpicker', nolabel=true, multiple=true,
        **{'data-actions-box':"true", 'data-style':"btn-primary", 'data-selected-text-format':"count"})}}
        <br>
        <br>

        {{ macros.render_field(form.topics, class='selectpicker', nolabel=true, multiple=true,
        **{'data-actions-box':"true", 'data-style':"btn-primary", 'data-selected-text-format':"count"})}}
        <br>
        <br>
        {{ form.submit }}

        {% endif %}
        <br />

    </form>
</div>


{% endif %}
{% endblock %}


{% block scripts %}
{{ super() }}

<!-- <script src="{{url_for('static', filename='js/editormd/editormd.min.js')}}"></script> -->
<script src="{{url_for('static', filename='js/simplemde/simplemde.min.js')}}"></script>
<script src="{{url_for('static', filename='js/marked/marked.min.js')}}"></script>
<script type="text/javascript">
    
    element = document.getElementById("text");
    if (element == null){
        element = document.getElementById("answer");
    }
    {% if notifier is defined %}
    element = document.getElementById("content");
    {% endif %}
    var simplemde = new SimpleMDE({
        element: element,
        renderingConfig: {
            singleLineBreaks: true,
            codeSyntaxHighlighting: true,
        },
        {% if notifier is defined %}
        hideIcons: ['image', 'table'],
        {% endif %}
        forceSync: true,
        shortcuts: {
            drawTable: "Cmd-Alt-T"
        },
        showIcons: ["code", "table"],
        previewRender: (plainText, previewArg) => {
            const preview = previewArg;
            setTimeout(() => {
              preview.classList.add("bg-dark");
              preview.classList.add("text-light");
            }, 1);
    
            return marked.marked(plainText);
          }
    });
</script>
{% if article == true %}

{% endif %}
{% endblock %}