{% import "macros/main.html" as macros %}
{% import "macros/form.html" as forms %}
{% extends 'base.html' %}
{% block app_content %}
<div id="list" class="row">
    {% if form is defined %}
    <form action="" method="GET" role="form">
        <div class='form-group'>
            <div class="col-md-2">
            {{ forms.render_field(form.search, size=5, class='form-select',
            placeholder='Buscar...', nolabel=true, type='search', **{'aria-label':"Buscar",
            'aria-describedby':"submit"})}}
            </div>
            <br>
            {{ forms.render_field(form.topic, class='form-select', class='selectpicker', nolabel=true,
            multiple=true,
            title='Selecionar Tópico', **{'data-actions-box':"true", 'data-style':"btn-primary",
            'data-selected-text-format':"count"})}}
            {{ forms.render_field(form.sub_topic, class='form-select', class='selectpicker', nolabel=true,
            multiple=true,
            title='Selecionar Sub-Tópico', **{'data-actions-box':"true", 'data-style':"btn-primary",
            'data-selected-text-format':"count"})}}
            {{ forms.render_field(form.tag, class='form-select', class='selectpicker', nolabel=true, multiple=true,
            title='Selecionar Marcação', **{'data-actions-box':"true", 'data-style':"btn-primary",
            'data-selected-text-format':"count"})}}
            {{ forms.render_field(form.who_answer, class='form-select', class='selectpicker', nolabel=true, multiple=true,
            title='Selecionar Marcação', **{'data-actions-box':"true", 'data-style':"btn-primary",
            'data-selected-text-format':"count"})}}

            <br>
            <!-- {{ forms.render_field(form.active)}} -->
            <br>
            {{ form.submit(class='btn btn-success') }}
        </div>
    <hr>
    </form>
    {% endif %}
    <!-- {{current_user}} -->
    {{ macros.render_table(cls_table, pagination, page_name, url_arguments = url_args if url_args is defined else {}, order_type=order_type, order=order, mode=mode, type=type,
    user = current_user, no_view=false, order_type_inverse=order_type_inverse) }}
    {{ macros.render_pagination(pagination, first_page, last_page, endpoint, url_arguments = url_args if url_args is defined else {}, order=order, order_type=order_type, order_type_inverse=order_type_inverse)}}
    
</div>
{% endblock %}