{% extends 'base.html' %} 
{% block app_content %} 
{% if article %}
<div class="col-md-8">
    <article class="article-post">
        <div class="article-header">
            <h1 class="article-title">
                {{article.title}}
            </h1>
            <p class="lead article-description">
                {{article.description}}
            </p>
            <p class="article-meta">
                Criado {{article.get_time_elapsed()}} por <a href='#'>{{article.author.name}}</a> 
                Atualizado {{article.get_update_elapsed()}} por <a href='#'>{{article.updater.name}}</a> 
            </p>
        </div>
        <div class="article-text">
            {{article.get_body_html()}}
        </div>
        {% if article.tags.count() > 0 %}
        <div class="article-tag card border-dark">
            <div class="card-header">Tags</div>
            <div class="card-body text-dark">
                <p class="card-text">
                    {% for tag in article.tags.all() %}
                    <a href="{{url_for('wiki.tag', tag_name=tag.name)}}">{{tag.name}}</a> 
                    {% endfor %}
                </p>
            </div>
        </div>
        {% endif %}
    </article>
</div>


{% endif %} 
{% endblock %}