
{% extends 'base.html' %}

{% block app_content %}

    <div class='row'>
        <div class="col-md-8">
            {% block question_content %}
            {% endblock %}
        </div>

<div class="col-md-4">

        <div class="d-grid gap-2">
        <a href="{{ url_for('question.make_question')}}" class="btn btn-primary btn-lg btn-block">Perguntar</a>
        </div>

    {% if g.questions_most_viewed | length > 0 %}

        <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">Mais visualizadas</h4>
            {% for question in g.questions_most_viewed %}
            <p class="mb-0"><a href="{{url_for('question.view', id=question.id)}}"
                    class="text-decoration-none">{{question.question[0:45]}}...</a></p>
            {% endfor %}
        </div>
    
    {% endif %}

    {% if g.questions_most_recent | length > 0 %}

        <div class="p-4 md-3 bg-light rounded">
            <h4 class="font-italic">Recentes</h4>
            {% for question in g.questions_most_recent %}
            <p class="mb-0"><a href="{{url_for('question.view', id=question.id)}}"
                class="text-decoration-none">{{question.question[0:45]}}...</a></p>
            {% endfor %}
        </div>

    {% endif %}
    {% if g.questions_most_liked | length > 0 %}

        <div class="p-4 md-3 bg-light rounded">
            <h4 class="font-italic">Mais curtidas</h4>
            {% for question in g.questions_most_recent %}
            <p class="mb-0"><a href="{{url_for('question.view', id=question.id)}}"
                class="text-decoration-none">{{question.question[0:50]}}</a></p>
            {% endfor %}
        </div>

    {% endif %}


    {% if g.topics | length > 0 %}

        <div class="p-4 md-3 bg-light rounded">
            <h4 class="font-italic">Tópicos</h4>
            {% for tag in g.topics %}
            <p class="mb-0">
                <a href="{{url_for('question.topic', name=tag.name, type='aprovada')}}" class="text-decoration-none">{{tag.name}}</a>
                <span class="badge bg-secondary">{{tag.questions.count()}}</span>
            </p>
            {% endfor %}
        </div>

    {% endif %}

    {% if g.tags | length > 0 %}

        <div class="p-4 md-3 bg-light rounded">
            <h4 class="font-italic">Marcações</h4>
            {% for tag in g.tags %}
            <p class="mb-0">
                <a href="{{url_for('question.tag', name=tag.name)}}" class="text-decoration-none">{{tag.name}}</a>
                <span class="badge bg-secondary">{{tag.questions_approved(g.topic).count()}}</span>
            </p>
            {% endfor %}
        </div>

    {% endif %}


</div>

</div>

{% endblock %}