{% extends 'base.html' %}
{% import "macros/form.html" as macros %}

{% block styles %}
{{ super()}}
<link href="{{url_for('static', filename='css/simplemde/simplemde.min.css')}}" rel="stylesheet">
{% if article %}
<!-- <link href="{{url_for('static', filename='css/editormd/editormd.css')}}" rel="stylesheet" /> -->

{% endif %}
{% endblock %}

{% block app_content %}


{% if form %}
<div class="col-md-8">
    <form action="" method="POST">
        {% if article is defined %}
        {{ form.csrf_token }}
        {{ macros.render_field(form.title, size=32, class='form-control', placeholder='Titulo') }}
        {{ macros.render_field(form.description, size=128, class='form-control', placeholder='Descrição')}}
        <div class="col-md-6">
            {{ macros.render_field(form.topic, class='form-select', nosize=true)}}
        </div>
        <br>
        <div id='editormd'>
            {{ macros.render_field(form.text, rows=30, placeholder='Texto')}}
        </div>
        {{ form.submit }}
        {% elif user %}
        {{ form.csrf_token}}
        {{ macros.render_field(form.username, size=32, class='form-control', placeholder='Username')}}
        {{ macros.render_field(form.name, size=128, class='form-control', placeholder='Nome')}}
        {{ macros.render_field(form.email, size=128, class='form-control', placeholder='Email')}}
        {{ macros.render_field(form.about_me, size=512, class='form-control', placeholder='Sobre mim')}}
        {{ macros.render_field(form.active)}}
        <br>
        {{ form.submit }}

        {% elif question %}
        {{ form.csrf_token}}
        {{ macros.render_field(form.question, size=256, class='form-control', placeholder='Pergunta')}}
        {{ macros.render_field(form.answer, size=256, class='form-control', placeholder='Reposta')}}
        {{ macros.render_field(form.tag, class='form-select', nosize=true, multiple=true)}}
        {{ macros.render_field(form.topic, class='form-select', nosize=true)}}
        <br>
        {{ macros.render_field(form.approved)}}
        <br>
        {{ form.submit }}

        {% elif edit %}
        {{ form.csrf_token}}
        {{ macros.render_field(form.name, size=256, class='form-control', placeholder='Tag')}}
        <br>
        {{ form.submit }}

        {% endif %}
        {#
        <!-- <h1 class="h3 mb-3 fw-normal">Editar</h1>
        {{ form.title.label(class='visually-hidden')}}
        {{ form.title(size=32, class='form-control', placeholder='Titulo')}}
        {% for error in form.title.errors %}
        <span style='color: red;'>[{{error}}]</span>
        {% endfor %}
        {{ form.description.label(class='visually-hidden')}}
        {{ form.description(size=128, class='form-control', placeholder='Descrição')}}
        {% for error in form.description.errors %}
        <span style='color: red;'>[{{error}}]</span>
        {% endfor %} -->
        <!-- <div id='test-editormd'>
            {{ form.text(rows=30, placeholder='Texto', style='display:none')}}
            {% for error in form.text.errors %}
            <span style='color: red;'>[{{error}}]</span>
            {% endfor %}
        </div> -->#}
        <br />

        
    </form>
    {#
    <!-- <article class="article-post">
        <div class="article-header">
            <h1 class="article-title">
                {{article.title}}
            </h1>
            <p class="lead article-description">
                {{article.description}}
            </p>
            <p class="article-meta">
                {{article.get_create_time_elapsed}} por <a href='#'>{{article.author.name}}</a>
            </p>
        </div>
        <div class="article-text">
            {{article.get_body_html()}}
        </div>
        {% if article.tags.count() > 0 %}
        <div class="article-tag card border-dark">
            <div class="card-header">Tags</div>
            <div class="card-body text-dark">
                <p class="card-text">
                    {% for tag in article.tags.all() %}
                    <a href="{{url_for('wiki.tag', tag_name=tag.name)}}">{{tag.name}}</a> 
                    {% endfor %}
                </p>
            </div>
        </div>
        {% endif %}
    </article> -->#}
</div>


{% endif %}
{% endblock %}


{% block scripts %}
{{ super() }}

<script src="{{url_for('static', filename='js/simplemde/simplemde.min.js')}}" {#nonce="{{ csp_nonce() }}#}"></script>

<script type="text/javascript" {#nonce="{{ csp_nonce() }}#}">


    element = document.getElementById("text");
    if (element == null) {
        element = document.getElementById("answer");
    }
    var simplemde = new SimpleMDE({
        element: element,
        autosave: true,
        forceSync: true,
        renderingConfig: {
            singleLineBreaks: true,
            codeSyntaxHighlighting: true,
        },
        shortcuts: {
            drawTable: "Cmd-Alt-T"
        },
        showIcons: ["code", "table"]
    });
</script>

{% if article == true %}
{% endif %}
{% endblock %}