{% extends 'base_question.html' %}



{% from "macros/form.html" import render_field %}
{% from "macros/main.html" import render_pagination %}

{% block app_content %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
    <p>Breadcrumbs:
        {% for crumb in g.breadcrumbs %}
            <a href="{{ crumb.path }}">{{ crumb.title }}</a>
            {% if not loop.last %}&raquo;{% endif %}
        {% endfor %}


    <div class="row border border-primary p-3 rounded">
        <a href="{{ url_for('question.make_question')}}" class="btn btn-primary btn-lg btn-block">Perguntar</a>
    </div>
    {% if topics is defined %}
    {% for topic in topics %}


    <div class="row border border-primary pb-3 rounded my-3">
        <div class="row">
            <div class="col ">
                <h2 class="text-muted fw-normal text-uppercase">{{topic['name']}}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            {% for item in topic['values'] %}
            <div class="col">
                <div class="card border-dark {{item['card_style']}}">
                    <div class="card-header">
                        <h6 class="fw-normal mt-0 fs-4">{{ item['title']}} </h6>
                    </div>
                    <div class="card-body">
                        <h3 class="pt-3 pb-3"> {{ item['count']}}
                            <a class="btn btn-success float-end" href="{{ item['bt_route']}}">{{ item['bt_name']}}</a>
                        </h3>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
    {% endfor %}
    {% endif %}




    {% if mode == 'index' %}
    {% if topic is defined %}
    <div class="row border border-primary pb-3 rounded my-3">
        <div class="row">
            <div class="col ">
                <h2 class="text-muted fw-normal text-uppercase">{{topic['name']}}</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% for item in sub_topics %}
                {% for sub_item in item['values'] %}
                <div class="col col-lg">
                    <div class="card border-dark {{sub_item['card_style']}}">
                        <div class="card-header">
                            <h6 class="fw-normal mt-0 fs-4">{{ sub_item['title']}} </h6>
                        </div>
                        <div class="card-body">
                            <h3 class="pt-3 pb-3"> {{ sub_item['count']}}
                                <a class="btn btn-success float-end" href="{{ sub_item['bt_route']}}">{{
                                    sub_item['bt_name']}}</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>



    </div>
</div>

{% endif %}
{% endif %}


{% if tags is defined %}
{% for tag in tags %}
<div class="row border border-primary pb-3 rounded my-3">
    <div class="row">
        <div class="col ">
            <h2 class="text-muted fw-normal text-uppercase">{{tag['name']}}</h2>
            <hr>
        </div>
    </div>
    <div class="row row-cols-6 row-cols-md-6 g-4">
        {% for item in tag['values'] %}
        <div class="col d-flex align-items-stretch">
            <div class="card border-dark {{item['card_style']}}" style="width: 50rem;">
                <div class="card-header">
                    <h6 class="text-dark fw-normal mt-0 fs-4">{{ item['title']}} </h6>
                </div>
                <div class="card-body">
                    <h3 class="pt-3 pb-3"> {{ item['count']}}
                        <a class="btn btn-info" href="{{ item['bt_route']}}">{{ item['bt_name']}}</a>
                    </h3>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>
{% endfor %}
{% endif %}
</div>

{% endblock %}