{% extends 'base.html' %}

{% block app_content %}
<div class="container-sm col-10">
    <ul class="nav nav-tabs" id='notifierTab' role='notifierList'>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id='active-tab' data-bs-toggle='tab' data-bs-target="#active" type="button"
                role='tab' aria-controls="active" aria-selected="true">Ativos</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id='history-tab' data-bs-toggle='tab' data-bs-target="#history" type="button"
                role='tab' aria-controls="history" aria-selected="false">Histórico</button>
        </li>
    </ul>
    <div class="row border border-primary pb-3 rounded my-3 tab-content">
        <div class="tab-pane fade show active" id='active' role='tabpanel' aria-labelledby="active-tab">
            <span class="badge bg-secondary mt-3 float-end">Atendimento</span>
            <div class="row m-3">
                <div class="row">
                    <h5 class="text-muted fw-normal">teste</h5>
                </div>
                <div class="row ms-4">
                    <span class="fw-normal">Teste sobre como incluir notificações</span>

                </div>
            </div>
            <div class="row d-flex justify-content-around">
                <div class="col d-flex justify-content-around">
                    1
                </div>
                <div class="col d-flex justify-content-around">
                    2
                </div>
                <div class="col d-flex justify-content-around">
                    3
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id='history' role='tabpanel' aria-labelledby="history-tab">
            teste
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false">Contact</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>

</div>

{% endblock %}