{% extends 'base.html' %}

{% block app_content %}
<div class="container-sm">
    <div class="row border border-primary pb-3 rounded my-3">
        <div class="row m-3">
            <div class="row">
                <h5 class="text-muted fw-normal">teste</h5>
            </div>
            <div class="row ms-4">
                <span class="fw-normal">Teste sobre como incluir notificações</span>
                
            </div>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="col d-flex justify-content-around">
                1
            </div>
            <div class="col d-flex justify-content-around">
                2
            </div>
            <div class="col d-flex justify-content-around">
                3
            </div>
        </div>
    </div>
  
</div>

{% endblock %}