{% extends 'base_question.html' %}
{% from "macros/form.html" import render_field %}
{% from "macros/main.html" import render_pagination %}



{% block question_content %}

    {% if mode == 'search' %}
    {% if pagination.total == 0 %}
    Nenhum resultado encontrado
    <div class="d-flex justify-content-between mt-5">
        <a type="button" class="btn btn-info" href="{{url_for('question.index')}}">Voltar</a>
    </div>
    {% else %}
    <!-- {% for question in pagination.items %}
    <div class="alert alert-dark" role="alert">
        <p class="fw-bold">Q: </p>
        {{question[0].question}}
        {% if current_user.can_edit %}
        <a href="{{url_for('question.remove', id=question[0].id)}}"
            class="text-decoration-none btn btn-danger btn-sm float-end"><i class="icon-remove"></i></a>
        <a href="{{url_for('question.edit', id=question[0].id)}}"
            class="text-decoration-none btn btn-success btn-sm float-end"><i class="icon-edit"></i></a>
        {% endif %}
    </div>
    {% endfor %} -->
    {% include '_question.html' %}

    {{ render_pagination(pagination, first_page, last_page, 'question.search', url_arguments=url_arguments)}}
    {% endif %}

    {% endif %}
    {% if mode == 'views' %}

    {% include '_question.html' %}
    <!-- {% for question in pagination.items %}
    <article class="article-post">
        <div class="article-header">
            {#<p class="article-meta">
                {{question.get_create_time_elapsed}} por {{question.author.name}}
                em <a href="{{ url_for('wiki.topic', topic_name=question.topic.format_name)}}"
                    class="text-decoration-none">{{question.topic.name}}</a>

            </p>#}
        </div>
        <div class="alert alert-dark" role="alert">
            <span class="fw-bold">Q: </span>
            <a href="{{url_for('question.view', id=question.id)}}"
                class='badge bg-info text-dark text-wrap text-break text-decoration-none'>
                {{question.question}}</a>
            {% if current_user.can_edit %}
            <a href="{{url_for('question.remove', id=question.id)}}"
                class="text-decoration-none btn btn-danger btn-sm float-end"><i class="icon-remove"></i></a>
            <a href="{{url_for('question.edit', id=question.id)}}"
                class="text-decoration-none btn btn-success btn-sm float-end"><i class="icon-edit"></i></a>
            {% endif %}
        </div>

    </article>
    {% endfor %} -->
    {{ render_pagination(pagination, first_page, last_page, 'question.index')}}
    {% endif %}
    {% if mode == 'view' %}
    <article class="article-post">
        <div class="article-header">
            <h1 class="article-title">
                {{question.question}}
            </h1>
            <!-- <p class="lead article-description">
                
            </p> -->
            <p class="article-meta">
                Criado {{question.get_create_time_elapsed}} por {{question.author.name}}
                <!-- TODO: Finalizar -->
                {% if question.was_updated() %}
                <br>
                {{'Atualizado '+ question.get_update_time_elapsed if question.get_update_time_elapsed else ''}} por <a
                    href='#'>{{question.updater.name}}</a>
                {% endif %}
            </p>
        </div>
        <div class="article-text">
            {{question.answer}}
        </div>
        {% if question.tag != none %}
        <br>
        <!-- <div class="article-tag card border-dark">
            <div class="card-header">Tags</div>
            <div class="card-body text-dark"> -->
        <!-- <p class="card-text">
                    <a href="{{url_for('wiki.tag', tag_name=question.tag.name)}}">{{question.tag.name}}</a> 
                </p> -->
        <span class="badge bg-secondary"><a href="{{url_for('question.tag', name=question.tag.name)}}"
                class="text-white">{{question.tag.name}}</a> </span>
        <!-- </div>
        </div> -->
        {% endif %}
    </article>


    {% endif %}
{% endblock %}