{% extends 'base.html' %}
{% block styles %}
{{ super()}}
<link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet">
{% endblock %}
{% block app_content %}

<main class="form-signin">
    <form action="" method="post">
        {% if form %}
        {{ form.csrf_token }}
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        {{ form.username.label(class='visually-hidden')}}
        {{ form.username(size=32, class='form-control', placeholder='Usuário')}}
        {% for error in form.username.errors %}
        <span style='color: red;'>[{{error}}]</span>
        {% endfor %}
        {{ form.password.label(class='visually-hidden')}}
        {{ form.password(size=64, class='form-control', placeholder='Senha')}}
        {% for error in form.password.errors %}
        <span style='color: red;'>[{{error}}]</span>
        {% endfor %}
        <br/>
        {{ form.remember_me() }}
        {{ form.remember_me.label }}
        {{ form.submit(class='w-100 btn btn-lg btn-primary') }}
        {% endif %}
    </form>
</main>


{% endblock %}