{% extends 'base.html' %}
{% block app_content %}
{% if topics is defined %}
<div class="row justify-content-md-center">
    <h1 class="display-4"><strong>Selecione um módulo: </strong></h1>
    <br><br>
<div class="btn-group pt-5" role="group" aria-label="Basic example">
  {% for topic in topics %}
    <a type="button" class="btn btn-{{ 'primary' if loop.index % 2 == 0 else 'success' }} btn-lg" href="{{url_for('main.select_access', topic=topic.name)}}">{{topic.name}}</a>
  {% endfor  %}
  </div>
</div>
{% else %}
<div class="alert alert-warning">Ocorreu um erro </div>
{% endif %}
{% endblock %}